[run]
omit =
    backend/main.py
    backend/schemas.py
    backend/fantasy_baseball/*
    scripts/*
    tests/*
    */migrations/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
